---
import { Box } from '@atoms/Box';
import { CompanyLogo } from '@atoms/Logo';
import Layout from '../layouts/Layout.astro';
import { WorldProvider } from '@context/WorldProvider';

const { gameInstanceId } = Astro.params;
---

<Layout title="Explorers Game">
  <main>
    <div>Hello {gameInstanceId}</div>
  </main>
</Layout>
