---
import { Room } from '@organisms/Room';
import Layout from '../layouts/Layout.astro';
// import { ApplicationProvider } from '@context/ApplicationProvider';

const roomSlug = Astro.params.roomSlug!;
---

<Layout title="Explorers Game">
  <main>
    <Room client:only slug={roomSlug} />
  </main>
</Layout>
