---
import Layout from '../layouts/Layout.astro';
import { Room } from '@organisms/Room';

const roomSlug = Astro.params.roomSlug!;
---

<Layout title="Explorers Game">
  <main>
    <div>Welcome to {roomSlug}</div>
    <Room client:only slug="foo" />
  </main>
</Layout>
