---
import { Box } from '@atoms/Box';
import { CompanyLogo } from '@atoms/Logo';
import Layout from '../layouts/Layout.astro';
import { WorldProvider } from '@context/WorldProvider';
---

<Layout title="Explorers Game">
  <main>
    <div>Home</div>
  </main>
</Layout>