---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { ContestList } from '@organisms/contest-list';
---

<Layout title="Explorers Game">
  <main>
    <a href="/new">Create New Room</a>
    <ContestList />
  </main>
</Layout>
