---
import { HomeScene } from '../components/HomeScene';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Strikers: The Beautiful Trading Card Game™️">
  <div
    style={{
      background: 'black',
      width: '100vw',
      height: '100vh',
      position: 'relative',
    }}
  >
    <HomeScene client:only />
  </div>
</Layout>
