---
import { Box } from '@atoms/Box';
import { Flex } from '@atoms/Flex';
import { Heading } from '@atoms/Heading';
import { Paragraph } from '@atoms/Paragraph';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Explorers, Inc. is a play company.">
  <main>
    <Flex
      css={{
        background: 'white',
        p: '$3',
        position: 'absolute',
        bottom: '$3',
        right: '$3',
        '@bp2': {
          maxWidth: '40%',
        },
      }}
      direction="column"
      gap="2"
    >
      <Heading>Explorers, Inc. is a <strong>play</strong> company.</Heading>
      <Paragraph>
        Play is taking the windy path even when a straight one exists.
      </Paragraph>
      <Paragraph>
        We believe play is the best portal we have for exploring and expanding
        our unique innate abilities.
      </Paragraph>
      <Paragraph>
        We aim to inspire more play by creating environments that challenges us
        to create, stoke us to compete, and inspire us to collaborate.
      </Paragraph>
      <Heading size="1">Links</Heading>
      <Paragraph>
        <a href="https://discord.gg/n8TWakM7k8">Discord</a>
        <a href="https://github.com/explorers-game/main">Github</a>
      </Paragraph>
    </Flex>
    <div
      id="globeViz"
      style={{
        position: 'fixed',
        top: 0,
        left: 0,
        bottom: 0,
        right: 0,
        zIndex: -1,
        background: 'black',
      }}
    >
    </div>
    <script>
      import Globe from 'globe.gl';

      fetch('./ne_110m_admin_0_countries.geojson')
        .then((res) => res.json())
        .then((countries) => {
          const world = Globe()
            // .globeImageUrl('//unpkg.com/three-globe/example/img/earth-dark.jpg')
            .hexPolygonsData(countries.features)
            .hexPolygonResolution(3)
            .hexPolygonMargin(0.3)
            .hexPolygonColor(
              () =>
                `#${Math.round(Math.random() * Math.pow(2, 24))
                  .toString(16)
                  .padStart(6, '0')}`
            )(document.getElementById('globeViz')!);
        });
    </script>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }

  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }

  .instructions strong {
    color: rgb(var(--accent));
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
