---
export interface Props {
  title: string;
  initialLayoutProps: LayoutProps;
}
import { Box } from '@atoms/Box';
import { ApplicationProvider } from '@context/ApplicationProvider';
import { HamburgerMenuIcon } from '@radix-ui/react-icons';
import logoRef from '../../../../static/base_logo_black_horizontal.png';
import type { LayoutProps } from '@explorers-club/schema';
import { ModalContainer } from '../components/ModalContainer';
import { MainPanelContainer } from '../components/MainPanelContainer';
import { MainSceneContainer } from '../components/MainSceneContainer';
import { ChatContainer } from '../components/ChatContainer';
import { Header } from '../components/Header';
import { getCssText } from '@explorers-club/styles';
import { GlobalStyles } from '../components/Styles';
const { title, initialLayoutProps } = Astro.props;

console.log({ f: getCssText() });

// const { intialRoute } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <GlobalStyles />
  </head>

  <body>
    <ApplicationProvider
      client:only
      trpcUrl={import.meta.env.PUBLIC_API_SERVER_URL}
    >
      <Header client:load />
      <MainPanelContainer client:load>
        <slot name="MainPanel" />
      </MainPanelContainer>
      <MainSceneContainer client:load>
        <slot name="MainScene" />
      </MainSceneContainer>
      <ChatContainer client:load>
        <slot name="Chat" />
      </ChatContainer>
      <ModalContainer client:load>
        <slot name="Modal" />
      </ModalContainer>
      <!-- <WorldScene />
      <GamePanel />
      <Chat /> -->
    </ApplicationProvider>
  </body>
</html>

<style is:global>{getCssText()}</style>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
